<h1>Welcome to Litter//Splitter, <%= @user.name %>!</h1>
<h3>Here's who is currently available for adoption:</h3><br>

<% @cats.each do |cat| %>

<% if !cat.adopted? %>
  <%=link_to cat.name, cat_path(cat)%>
  <img  src="<%= cat.img_url %>" width=300px >
  <% end %>
<% end %>

<%= button_to "Logout", '/logout', method: "delete" %>
