<h1>Welcome to Litter//Splitter, <%= @user.name %>!</h1>
<h3>Here are all of your cats:</h3><br>
  <% @user.cats.each do |cat| %>
    <li>Name:<%=link_to cat.name,  cat_path(cat)%></li>
    <li>Adopted? <%= cat.adopted? %></li>

    
  <% end %>


<%= button_to "Logout", '/logout', method: "delete" %>
