user show page!
<%= @user.name %>
My cats: <% @user.cats.each do |cat| %>
<li><%= cat.name %></li>
<% end %>


<h1>Welcome to Litter//Splitter!</h1>
<h3>Here's who is currently available for adoption:</h3><br>



<%= button_to "Logout", '/logout', method: "delete" %>
